body{
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}

#game{
    text-align: center;
}

#menu{
	position:absolute;
	top:0;
	left:50%;
	background:transparent url('data/splashscreen.jpg') no-repeat left top;
	overflow:hidden;
}
#menu div.option-start{
	width:342px;
	height:91px;
	background:transparent url('data/StartGame.png') no-repeat left top;
}
#menu div.option-start:hover{
	cursor:pointer;
	background:transparent url('data/StartGame_hover.png') no-repeat left top;
}

#menu .the-end{
  width:100%;
  height:100%;
}

#hud {
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0px auto;
  margin-top: -720px
}

#hud #mana,
#hud #dollars,
#hud #debug,
#hud #nature-build-queue,
#hud #newYork-build-queue {
  position: absolute;
  top: 200px;
  width: 138px;
  height: 43px;
  font-size: 24px;
  text-shadow: 1px 1px black;
  color: white;
  padding-top: 8px;

}

#hud #mana {
  left: 60px;
  text-align: right;
  background-image: url("/data/mana.png");
  background-repeat: no-repeat;
  display: none;
}

#manaCount{
  margin-right: 45px;
}

#hud #dollars {
  left: 1100px;
  text-align: left;
  background-image: url("/data/dolars.png");
  background-repeat: no-repeat;
  display: none;
}

#dollarsCount{
  margin-left: 47px;
}

#hud #debug {
  top: 100px;
  left: 600px;
  text-align: left;
}

#hud #nature-build-queue,
#hud #newYork-build-queue{
  top: 230px;
  text-align: left;
  font-size: 18px;
  color: #444;
  padding-top: 3px;
  display: none;
}
#hud #nature-build-queue{
  left: 60px;
}
#hud #newYork-build-queue{
	left: 1100px;
	text-align: right;
}
#hud #nature-build-queue ul, #hud #newYork-build-queue ul{
  list-style: none;
  padding:0;
}
#hud li.input0{
	background-image: url("/data/key-x.png");
	background-repeat: no-repeat;
}
#hud li.input1{
	background-image: url("/data/key-y.png");
	background-repeat: no-repeat;
}
#hud li.input2{
	background-image: url("/data/key-a.png");
	background-repeat: no-repeat;
}
#hud li.input3{
	background-image: url("/data/key-b.png");
	background-repeat: no-repeat;
}
#hud #nature-build-queue li, #hud #newYork-build-queue li{
	background-size: 20px;
	height:30px;
}
#hud #nature-build-queue li div, #hud #newYork-build-queue li div{
	display:inline-block;
}
#hud #nature-build-queue li div{
	margin-left: 47px;
}
#hud #nature-build-queue li div.progress, #hud #newYork-build-queue li div.progress{
	font-size:12px;
	background-color:#444;
	overflow : hidden;
	width:50px;
	height:3px;
}

#hud #nature-build-queue li div.progress{
	margin:-4px 0 0 5px;
}
#hud #nature-build-queue li div.progress div, #hud #newYork-build-queue li div.progress div{
	float:left;
	height:100%;
	display:block;
	margin:0;
}
#hud #newYork-build-queue li div{
	margin-right: 47px;
}
#hud #newYork-build-queue li div.progress{
	margin:-4px 5px 0 0;
}
#hud #newYork-build-queue li div.progress div{
	float:right;
}
#hud #newYork-build-queue li{
	background-position:right top;
}


